.shopsection-wrapper .shopsection {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.shopsection-wrapper .shopsection>div>div h2 { 
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}